@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #030713;
}
html {
  font-size: 62.5%;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
@layer components {
  .borderRight {
    border-right: 1px solid rgba(179, 178, 178, 0.19);
  }
  .borderBottom {
    border-bottom: 1px solid rgba(179, 178, 178, 0.19);
  }
}
